!!! 5
html
	head
		title Change Password
		script(type='text/javascript', src='http://code.jquery.com/jquery-1.10.1.min.js')
		script(type='text/javascript').
			function updatePassword() {
				console.log("Updating info!!!");
					$.ajax({
						type: "POST",
						url: "/accounts/password/update",
						contentType:'application/json; charset=utf-8',
						data: JSON.stringify({ "newPass" : document.getElementById('password').value, 
								"confirmNewPass" : document.getElementById('confirmPass').value, 
								"accountID" : document.getElementById('accountID').value }),
						success: function(){alert("Update Success");}
					});
				}
	body
		div
			div
				label Password:
				input(type = password, id = 'password', name = 'password')
				input(type = 'hidden', id = 'accountID', name = 'accountID', value = id)
			div
				label Confirm Password:
				input(type = password, id = 'confirmPass', name = 'confirmPass')
			div(onClick="updatePassword()")
				label Submit